- flash.each do |key, value|
  - if key.to_s == 'notice'
    - key = 'success'
  - if key.to_s == 'alert'
    - key = 'danger'
  %div{:class => "alert alert-dismissable alert-#{key}"}
    - if key.to_s == 'danger' || key.to_s == 'warning'
      %i.fa.fa-exclamation-triangle.fs-25

    - else
      %i.fa.fa-smile-o.fs-25{:style => 'padding: 0px 5px;'}
    = value