- flash.each do |key, value|
  - if key.to_s == 'notice'
    - key = 'success'
  - if key.to_s == 'alert'
    - key = 'danger'
  .alert.alert-dismissable.message{ class: "alert-#{key}" }
    - if key.to_s == 'danger' || key.to_s == 'warning'
      %i.fas.fa-exclamation-triangle.fa-lg
    - else
      %i.fas.fa-smile.fa-lg
    = value
