- if Rails.env.staging?
  #warnings.alert.alert-warning.panel-reset.text-center{style: "margin-bottom: 0px;" }
    %strong Dikkat!
    Lütfen yapacağınız işlemlerde dikkatli olunuz. Şuan da
    %strong test
    sunucusu üzerinde işlem yapıyorsunuz.