%i#toggle.icon-align-justify.icon-large

%ul#dock
  %li.launcher
    %i.icon-dashboard
    =link_to  t('dock.dashboard'), hq_dashboard_index_path

#beaker{data: {toggle: 'tooltip'}, title: 'Made by lab2023'}