%p
  = t( 'email.salut', user: @resource.email )
%p
  = "#{t( 'email.devise.confirmation_instruction.desc1')} :"
%p
  = link_to t( 'email.devise.confirmation_instruction.btn_confirm'), confirmation_url(@resource, confirmation_token: @token)
